h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 0;
  margin-bottom: var(--space-16);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-heading);
  color: var(--color-text);

  &::after {
    content: '';
    display: block;
    height: 4px;
    width: 50px;
    background-color: var(--color-primary);
  }
}

h1,
.h1 {
  font-size: calc(var(--font-size-h1) * 0.8);

  @media (--viewport-lg) {
    font-size: var(--font-size-h1);
  }
}

h2,
.h2 {
  font-size: calc(var(--font-size-h2) * 0.8);

  @media (--viewport-lg) {
    font-size: var(--font-size-h2);
  }
}

h3,
.h3 {
  font-size: calc(var(--font-size-h3) * 0.8);

  @media (--viewport-lg) {
    font-size: var(--font-size-h3);
  }
}

h4,
.h4 {
  font-size: calc(var(--font-size-h4) * 0.8);

  @media (--viewport-lg) {
    font-size: var(--font-size-h4);
  }
}

h5,
.h5 {
  font-size: calc(var(--font-size-h5) * 0.8);

  @media (--viewport-lg) {
    font-size: var(--font-size-h5);
  }
}

h6,
.h6 {
  font-size: calc(var(--font-size-h6) * 0.8);

  @media (--viewport-lg) {
    font-size: var(--font-size-h6);
  }
}

a {
  cursor: pointer;
  text-decoration: underline;
  color: var(--color-black);

  &:hover {
    text-decoration: none;
  }
}

p {
  margin: 0 0 10px 0;
}
