:root {
  --font-size-base: 1rem;
  --font-size-lg: calc(var(--font-size-base) * 1.25);
  --font-size-sm: calc(var(--font-size-base) * 0.875);
  --font-size-xs: calc(var(--font-size-base) * 0.75);

  --font-size-h1: calc(var(--font-size-base) * 2.5);
  --font-size-h2: calc(var(--font-size-base) * 2);
  --font-size-h3: calc(var(--font-size-base) * 1.75);
  --font-size-h4: calc(var(--font-size-base) * 1.5);
  --font-size-h5: calc(var(--font-size-base) * 1.25);
  --font-size-h6: var(--font-size-base);

  --font-family-base: 'arial', sans-serif;
  --line-height-base: 1.5;

  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;

  --font-family-heading: 'IBM Plex Sans', sans-serif;
}
